.root {
  text-align: center;
}

.student-info-list-group {
  text-align: left;
}

.student-info-list-group-item {
  border: none !important; /* using important is bad, but the Bootstrap list-group-item precendence overrides this otherwise ¯\_(ツ)_/¯ */
}